.language-picker
  position fixed
  left 20px
  bottom 20px

.info
  position absolute
  height 25px
  width 100%
  bottom 0
  left 0

.page-wrapper
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center

  .page-container
    max-height calc(100vh - 50px)
    padding 40px 0
    width 386px
    max-width 100vw
    box-sizing border-box
    border-radius 8px
    border 1px solid #dadce0
    display flex
    flex-direction column

    .site-header
      margin 0 40px 20px

    .register-form
      flex 0 1 auto
      display flex
      flex-direction column
      overflow hidden

    .form-inputs
      flex 0 1 auto
      overflow-x hidden
      overflow-y auto

      .form-inputs-inner
        margin 20px 40px

    .form-field
      width 302px

    .form-field-extend
      margin-bottom 1.5em

    .password-visible-toggle
      line-height 24px
      transform translate(4px,0)

    .register-recaptcha-container
      height 78px
      margin-bottom 20px

    .operations
      flex 0 0 auto
      margin 20px 40px 0
      display flex

      .operations-alter,
      .operations-main
        flex 0 0 auto

      .inflate
        flex 1 1 auto

@media (max-width 599px)
  .page-wrapper
    align-items unset

    .page-container
      width 304px
      padding 5vh 0 0
      border none
