.page-wrapper
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  background linear-gradient(230deg, #4b79cf, #29b6f6, #4db6ac)
  background-size 300% 300%
  animation main-bg 60s ease infinite

  .page-container
    display flex
    flex-direction column

    .site-header,
    .site-subheader
      color white
      margin 20px
      text-align center

    .operations
      margin 100px 20px 20px
      color white
      display flex

      .operation-container
        flex 0 0 50%
        display flex
        justify-content center
        align-items center

      .operation-button
        font-size 20px
        line-height 48px
        width 140px
        text-align center

  .language-picker
    position fixed
    left 20px
    bottom 20px

  .image-preference
    position fixed
    left 96px
    bottom 20px

@keyframes main-bg
  0%
    background-position 0 84%
  50%
    background-position 100% 16%
  100%
    background-position 0 84%

