:host
  display flex
  transition box-shadow 0.2s

.image-loading:host
  box-shadow none

.image-wrapper
  min-width 200px
  min-height 200px
  position relative
  display flex

  .overlay-image
    max-width 90vw
    max-height 90vh

    @media (max-width 599px)
      max-width 100vw
      max-height 100vh

  .hint
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center

  .hint-message
    color #eee
    font-size 16px
    text-shadow 0.02em 0.02em 0.05em #333333
    margin-top 25px

    .hint-icon-container
      text-align center
      height 75px
      width 75px
      margin 0 auto 25px

      .hint-icon
        font-size 75px
        line-height 75px
        height 75px
        width 75px
        margin 0
