.dialog-content
  width 302px
  max-width calc(80vw - 48px)
  display flex
  flex-direction column

  .register-form
    flex 0 1 auto
    display flex
    flex-direction column
    overflow hidden

  .form-inputs
    flex 0 1 auto
    overflow-x hidden
    overflow-y auto

    .form-inputs-inner
      margin 20px 0

  .form-field
    width 302px

  .form-field-extend
    margin-bottom 1.5em

  .password-visible-toggle
    line-height 24px
    transform translate(4px,0)
