.app-header
  position fixed
  top 0
  left 0
  right 0
  z-index 10

.upload-wrapper
  position fixed
  right 0
  width 50vw
  max-width 750px
  z-index 10

  @media (max-width 799px)
    width 66.7vw

  @media (max-width 599px)
    width 100vw
