.transitioned-button
  transition color 0.2s, background 0.2s

  &:not(.mat-button-disabled):hover .mat-button-focus-overlay
    opacity 0.04

  &.strong-hover:not(.mat-button-disabled):hover .mat-button-focus-overlay
    opacity 0.1

.mat-fab .mat-button-wrapper > .mat-icon
  vertical-align bottom
