.dialog-actions
  display flex
  align-items center
  justify-content flex-end

  button:not(:last-child)
    margin-right 10px

.scrollable.dialog-content-scrollable-fix-80vh
  max-height calc(80vh - 148px)
